{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section class="last-question flex">
    {% for question in lastQuestion %}
    <p>img src="{{ question.image }}"</p>
    <div>
        <div class="flex">
            <p>{{ question.category }}</p>
            <p>Il y a {{ question.date|date('Y/M/D') }}</p>
        </div>
        <h1>{{ question.title }}</h1>
        {% include "components/createdByAndNbAnswerBigFont.html.twig" %}
    </div>
    {% endfor %}
</section>

<section class="container-three-last-questions">
    <div class="flex justify-between">
        <h1>Dernières questions</h1>
        <a href="#">Voir toutes les questions</a>
    </div>
    <div class="flex justify-between">
        {% for question in threeLastQuestion %}
            {% include "components/containerLittleQuestion.html.twig" %}
        {% endfor %}
    </div>
</section>

<section class="container-best-author">
    <div class="flex justify-between">
        <h1>Meilleurs auteurs</h1>
        <a href="#">Voir tous les auteurs</a>
    </div>
    <div class="flex justify-between">
        {% for bestUser in fiveBestUser %}
            {% include "components/bestAuthor.html.twig" %}
        {% endfor %}
    </div>
</section>
{% endblock %}
