header{
    background-color: #AD0569;
    color: white;
}

.livequestion{
    font-family: Source Serif Pro;
    font-size: 40px;
    font-weight: 600;
    line-height: 60.14px;
    text-align: left;

}

.nav-item{
    font-size: 18px;
    padding: 20px;
}