header{
    background-color: #AD0569;
    color: white;
}

.livequestion{
    font-family: Source Serif Pro;
    font-size: 40px;
    font-weight: 600;
    line-height: 60.14px;
    text-align: left;

}

.nav-item{
    font-size: 18px;
    padding: 20px;
}

.image_last_question{
    box-shadow: 0px 10px 20px 9px #00000040;
}

.thematic_name{
    position: absolute;
    color: #FFFFFF;
    background: #AD0569E5;
}

