<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="p-10 flex justify-between">
            <a href="#" class="items-center flex livequestion">
                Livequestion
            </a>
            <nav class="nav-list flex items-center w-3/5">
                <ul class="flex">
                    <li class="nav-item">
                        <a href="#">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Les questions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Les auteurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Nouvelle question
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="user flex w-1/5">
                <div class="img-user">
                    <img style="width: 60px; height:60px;" src="{{ asset('media/logo_github.png') }}">
                </div>
                <div class="firstname-lastname">
                    <p>Alexandre</p>
                    <p>Duchemin</p>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
