<div class="flex">
    <span>1</span>
    <div class="username-nb-answer">
        <p>{{ bestUser.username }}</p>
        <span>{{ bestUser.num_questions }}</span><p>question{% if bestUser.num_questions > 1 %}s{% endif %}</p>
    </div>
</diV>