<div>
    <div>
        <p>img src="{{ question.image }}"</p>
        <p>{{ question.category }}</p>
    </div>
    <h1>{{ question.title }}</h1>
    {% include "components/createdByAndNbAnswerLittleFont.html.twig" %}
</div>