<div class="flex style="font-size: 22px;"">
    <p>{{ question.nbAnswer }} réponse{% if question.nbAnswer > 1 %}s{% endif %}</p>
    <span> - </span>
    <p>Par {{ question.author.username }}</p>
</div>